@import url(/components/text/text.css);

body {
  font-family: "inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--black);
}

p {
  font-size: 1.125rem;
  line-height: 1.5em;
  padding: 0.2rem 0;
}

.sidenavbar {
  padding: 1rem;
  overflow-y: auto;
  max-width: 10rem;
  position: fixed;
  top: 12vh;
  bottom: 0;
  margin: 1rem;
  margin-top: 2rem;
  height: 80%;
}

.heading--2 {
  margin-bottom: 0.5rem;
}

nav .side--nav--link,
.pagination--link {
  display: block;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
  color: var(--black);
  border-radius: 5px;
  font-weight: 500;
}
nav .side--nav--link:hover,
nav .side--nav--link:focus {
  background-color: var(--success-light);
  font-weight: 500;
}
nav .active {
  background-color: var(--primary-color);
  color: var(--white);
}
nav .active:hover,
nav .active:focus {
  background-color: var(--primary-color);
}

.main--container {
  margin-left: 11rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-weight: 500;
}
.embed--container {
  max-width: 40rem;
  max-height: 100%;
  margin: 2rem auto;
}
.embed--code {
  width: 100%;
}

.res--list {
  margin-left: 2rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.pagination--link:hover,
.pagination--link:focus {
  font-weight: 600;
}

.in-bl {
  display: inline-block;
}

.container--nav--example {
  border: 1px solid var(--primary-color);
  position: relative;
}

.comp--container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: var(--success-light);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

::selection {
  color: var(--black);
  background-color: var(--success-light);
}

@media only screen and (max-width: 780px) {
  .sidenavbar {
    display: none;
  }
  .main--container {
    margin-left: 1rem;
    padding: 1rem;
    margin-right: 1rem;
  }
  .pagination {
    padding: 0;
  }
}
