.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
}

.container .description {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 500;
}
.action-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  display: inline-block;
  padding: 0.75rem 1rem;

  margin-right: 2rem;
  margin-top: 2rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
