<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Image</title>
    <link rel="stylesheet" href="/css/guide.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/image/image.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">Fastart</div>
      <nav>
        <a class="nav-link" href="#">Github</a>
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <a href="#" class="side--nav--link">Usage</a>
          <a href="#" class="side--nav--link">Alert</a>
          <a href="#" class="side--nav--link">Avatar</a>
          <a href="#" class="side--nav--link">Badge</a>
          <a href="#" class="side--nav--link">Button</a>
          <a href="#" class="side--nav--link">Card</a>
          <a href="#" class="side--nav--link active">Image</a>
          <a href="#" class="side--nav--link">Input</a>
          <a href="#" class="side--nav--link">List</a>
          <a href="#" class="side--nav--link">Toast</a>
          <a href="#" class="side--nav--link">Navigation</a>
        </nav>
      </aside>
      <section class="main--container">
        <div class="m-v-1">
          <h1 class="h1 primary-heading">Image</h1>
          <p class="m-b-1">
            Images are used in most of the website as image convey the message
            in easier and faster manner
          </p>
          <h2 class="h2">Responsive image</h2>
          <p>
            Responsive image gives image width of 100%. You can change its width
            based on parent container.
          </p>

          <img
            class="img--res"
            src="https://i.picsum.photos/id/1024/1920/1280.jpg?hmac=-PIpG7j_fRwN8Qtfnsc3M8-kC3yb0XYOBfVzlPSuVII"
            alt="sample image"
          />

          <iframe
            src="https://carbon.now.sh/embed/DhZ1tJjxSZ5gpGIh6wpQ"
            class="embed--code m-v-1 m-b-2"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <h2 class="h2">Rounded Image</h2>
          <p>
            Rounded image works best on square images. If need for other image
            you can make the container square and apply both img--res and
            img--round classes
          </p>
          <img
            class="img--round"
            src="https://picsum.photos/id/1024/300/300"
            alt="sample image"
          />
          <iframe
            src="https://carbon.now.sh/embed/uFS5h20GWrPJaGxOPe9c"
            class="embed--code m-v-1 m-b-1"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>

        <div class="pagination">
          <a href="#" class="pagination--link">&lt Card </a>
          <a href="#" class="pagination--link"> Input &gt</a>
        </div>
      </section>
    </main>
  </body>
</html>
