<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Avater</title>
    <link rel="icon" href="/assets/favicon.png" />
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/manifest.webmanifest" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/avatar/avatar.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">Fastart</a>
      </div>
      <nav>
        <a
          class="nav-link"
          target="_blank"
          href="https://github.com/manismk/fastart"
          >Github</a
        >
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <p class="heading--4 text--bold">Get Started</p>
          <a href="/docs.html" class="side--nav--link">Usage</a>
          <p class="heading--4 text--bold">Components</p>
          <a href="/components/alert/alert.html" class="side--nav--link"
            >Alert</a
          >
          <a
            href="/components/avatar/avatar.html"
            class="side--nav--link active"
            >Avatar</a
          >
          <a href="/components/badge/badge.html" class="side--nav--link"
            >Badge</a
          >
          <a href="/components/button/button.html" class="side--nav--link"
            >Button</a
          >
          <a href="/components/card/card.html" class="side--nav--link">Card</a>
          <a href="/components/grid/grid.html" class="side--nav--link">Grid</a>
          <a href="/components/image/image.html" class="side--nav--link"
            >Image</a
          >
          <a href="/components/input/input.html" class="side--nav--link"
            >Input</a
          >
          <a href="/components/list/list.html" class="side--nav--link">List</a>
          <a href="/components/modal/modal.html" class="side--nav--link"
            >Modal</a
          >
          <a
            href="/components/navigation/navigation.html"
            class="side--nav--link"
            >Navigation</a
          >
          <a href="/components/rating/rating.html" class="side--nav--link"
            >Rating</a
          >
          <a href="/components/slider/slider.html" class="side--nav--link"
            >Slider</a
          >
          <a href="/components/text/text.html" class="side--nav--link">Text</a>
          <a href="/components/toast/toast.html" class="side--nav--link"
            >Toast</a
          >
        </nav>
      </aside>

      <section class="main--container">
        <div class="m-v-1">
          <h1 class="heading--2">Avatar</h1>
          <p>
            Avatars are typically used to display a user profile as a picture.
            Here we provide 5 different sizes of avatar. You can use them using
            avatar--xs, avatar--sm, avatar--md, avatar--lg, avatar--xl.
          </p>
          <div class="m-t-1"></div>
          <h2 class="heading--3">Circle Avatar</h2>
          <p>For using circular avatar you can use the class avatar--circle.</p>

          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--xs"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--sm"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--md"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--lg"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--xl"
          />

          <div class="embed--container">
            <embed
              src="https://www.thiscodeworks.com/embed/61ffdb144dd44f0015f3cc21"
              class="embed--code"
            />
          </div>

          <h2 class="heading--3">Square Avatar</h2>
          <p>For using square avatar you can use the class avatar--square.</p>
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--xs"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--sm"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--md"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--lg"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--xl"
          />
          <div class="embed--container">
            <embed
              src="https://www.thiscodeworks.com/embed/61ffdc1f4dd44f0015f3cc2b"
              class="embed--code"
            />
          </div>
        </div>

        <div class="pagination">
          <a href="/components/alert/alert.html" class="pagination--link"
            >&lt Alert
          </a>
          <a href="/components/badge/badge.html" class="pagination--link">
            Badge &gt</a
          >
        </div>
      </section>
    </main>
  </body>
</html>
