<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | avater</title>
    <link rel="stylesheet" href="/css/guide.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/avatar/avatar.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">Fastart</div>
      <nav>
        <a class="nav-link" href="#">Github</a>
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <a href="#" class="side--nav--link">Usage</a>
          <a href="#" class="side--nav--link">Alert</a>
          <a href="#" class="side--nav--link active">Avatar</a>
          <a href="#" class="side--nav--link">Badge</a>
          <a href="#" class="side--nav--link">Button</a>
          <a href="#" class="side--nav--link">Card</a>
          <a href="#" class="side--nav--link">Image</a>
          <a href="#" class="side--nav--link">Input</a>
          <a href="#" class="side--nav--link">List</a>
          <a href="#" class="side--nav--link">Toast</a>
          <a href="#" class="side--nav--link">Navigation</a>
        </nav>
      </aside>
      <section class="main--container">
        <div class="m-v-1">
          <h1 class="h1 primary-heading">Avatar</h1>
          <p>
            Avatars are typically used to display a user profile as a picture.
            Here we provide 5 different sizes of avatar. You can use them using
            avatar--xs, avatar--sm, avatar--md, avatar--lg, avatar--xl.
          </p>
          <h2 class="h2">Circle Avatar</h2>
          <p>For using circular avatar you can use the class avatar--circle.</p>

          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--xs"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--sm"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--md"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--lg"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--circle avatar--xl"
          />

          <iframe
            src="https://carbon.now.sh/embed/o0xQZL6lRW4vnOfFmYEY"
            class="embed--code m-v-1"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
          <h2 class="h2">Square Avatar</h2>
          <p>For using square avatar you can use the class avatar--square.</p>
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--xs"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--sm"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--md"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--lg"
          />
          <img
            src="https://randomuser.me/api/portraits/men/41.jpg"
            alt="Randomuser"
            class="m-r-1 avatar avatar--square avatar--xl"
          />
          <iframe
            src="https://carbon.now.sh/embed/giTtZQ3wj0QbBuPJfAu2"
            class="embed--code m-v-1"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>

        <div class="pagination">
          <a href="#" class="pagination--link">&lt Alert </a>
          <a href="#" class="pagination--link"> Badge &gt</a>
        </div>
      </section>
    </main>
  </body>
</html>
