<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Slider</title>
    <link rel="stylesheet" href="/css/guide.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/slider/slider.css" />
    <script defer src="./slider.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">Fastart</div>
      <nav>
        <a class="nav-link" href="#">Github</a>
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <a href="#" class="side--nav--link">Usage</a>
          <a href="#" class="side--nav--link">Alert</a>
          <a href="#" class="side--nav--link">Avatar</a>
          <a href="#" class="side--nav--link">Badge</a>
          <a href="#" class="side--nav--link">Button</a>
          <a href="#" class="side--nav--link">Card</a>
          <a href="#" class="side--nav--link">Image</a>
          <a href="#" class="side--nav--link">Input</a>
          <a href="#" class="side--nav--link">List</a>
          <a href="#" class="side--nav--link">Modal</a>
          <a href="#" class="side--nav--link active">Slider</a>
          <a href="#" class="side--nav--link">Toast</a>
          <a href="#" class="side--nav--link">Navigation</a>
        </nav>
      </aside>
      <section class="main--container">
        <div class="m-v-1">
          <h1 class="h1 primary-heading">Slider</h1>
          <p class="m-b-1">
            Slider is used to select the value using range of values. You can
            access the slider by using the class slider. slider width can be
            controlled using the parent container. To get the working of slider
            you need to add the javascript code also.
          </p>

          <input
            class="slider m-b-1"
            type="range"
            min="0"
            max="100"
            step="1"
            value="40"
          />

          <iframe
            src="https://carbon.now.sh/embed/StgShtDGGITZa6MwCEWn"
            class="embed--code m-v-1 m-b-2"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>

        <div class="pagination">
          <a href="#" class="pagination--link">&lt List </a>
          <a href="#" class="pagination--link"> Toast &gt</a>
        </div>
      </section>
    </main>
  </body>
</html>
