<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Toast</title>
    <link rel="icon" href="/assets/favicon.png" />
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/manifest.webmanifest" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/button/button.css" />
    <link rel="stylesheet" href="/components/toast/toast.css" />
    <script defer src="./toast.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">Fastart</a>
      </div>
      <nav>
        <a
          class="nav-link"
          target="_blank"
          href="https://github.com/manismk/fastart"
          >Github</a
        >
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <p class="heading--4 text--bold">Get Started</p>
          <a href="/docs.html" class="side--nav--link">Usage</a>
          <p class="heading--4 text--bold">Components</p>
          <a href="/components/alert/alert.html" class="side--nav--link"
            >Alert</a
          >
          <a href="/components/avatar/avatar.html" class="side--nav--link"
            >Avatar</a
          >
          <a href="/components/badge/badge.html" class="side--nav--link"
            >Badge</a
          >
          <a href="/components/button/button.html" class="side--nav--link"
            >Button</a
          >
          <a href="/components/card/card.html" class="side--nav--link">Card</a>
          <a href="/components/grid/grid.html" class="side--nav--link">Grid</a>
          <a href="/components/image/image.html" class="side--nav--link"
            >Image</a
          >
          <a href="/components/input/input.html" class="side--nav--link"
            >Input</a
          >
          <a href="/components/list/list.html" class="side--nav--link">List</a>
          <a href="/components/modal/modal.html" class="side--nav--link"
            >Modal</a
          >
          <a
            href="/components/navigation/navigation.html"
            class="side--nav--link"
            >Navigation</a
          >
          <a href="/components/rating/rating.html" class="side--nav--link"
            >Rating</a
          >
          <a href="/components/slider/slider.html" class="side--nav--link"
            >Slider</a
          >
          <a href="/components/text/text.html" class="side--nav--link">Text</a>
          <a href="/components/toast/toast.html" class="side--nav--link active"
            >Toast</a
          >
        </nav>
      </aside>

      <section class="main--container">
        <div class="m-v-1">
          <h1 class="heading--2">Toast</h1>
          <p class="m-b-1">
            Toast message is used to notify or inform the user about the action.
          </p>

          <button id="topRight" class="btn btn--primary m-v-1">
            show top right
          </button>
          <button id="bottomLeft" class="btn btn--primary m-v-1">
            show bottom left
          </button>
          <button id="bottomCenter" class="btn btn--primary m-v-1">
            show bottom center
          </button>

          <div class="alert alert--success toast toast--top--right hide">
            This is success alert
            <button id="closeTopRight" class="alert--close">&times</button>
          </div>
          <div class="alert alert--message toast toast--bottom--left hide">
            This is message alert
            <button id="closeBottomLeft" class="alert--close">&times</button>
          </div>
          <div class="alert alert--error toast toast--bottom--center hide">
            This is danger alert
            <button id="closeBottomCenter" class="alert--close">&times</button>
          </div>

          <div class="embed--container">
            <embed
              src="https://www.thiscodeworks.com/embed/61fffb0f4dd44f0015f3cc76"
              class="embed--code"
            />
          </div>
        </div>

        <div class="pagination">
          <a href="/components/text/text.html" class="pagination--link"
            >&lt Text Utils
          </a>
          <p>Thanks 😊 for visiting us.</p>
        </div>
      </section>
    </main>
  </body>
</html>
