<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | List</title>
    <link rel="stylesheet" href="/css/guide.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/list/list.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">Fastart</div>
      <nav>
        <a class="nav-link" href="#">Github</a>
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <a href="#" class="side--nav--link">Usage</a>
          <a href="#" class="side--nav--link">Alert</a>
          <a href="#" class="side--nav--link">Avatar</a>
          <a href="#" class="side--nav--link">Badge</a>
          <a href="#" class="side--nav--link">Button</a>
          <a href="#" class="side--nav--link">Card</a>
          <a href="#" class="side--nav--link">Image</a>
          <a href="#" class="side--nav--link">Input</a>
          <a href="#" class="side--nav--link active">List</a>
          <a href="#" class="side--nav--link">Toast</a>
          <a href="#" class="side--nav--link">Navigation</a>
        </nav>
      </aside>
      <section class="main--container">
        <div class="m-v-1">
          <h1 class="h1 primary-heading">List</h1>
          <p class="m-b-1">
            Spaced list can be accessed using list--space class
          </p>
          <h2 class="h2">Spaced List</h2>
          <ul class="list list--space p-v-1">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
          </ul>

          <iframe
            src="https://carbon.now.sh/embed/R18ggFdoqz3zHFnHotR6"
            class="embed--code m-v-1 m-b-2"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <h2 class="h2">Stacked List</h2>
          <p class="m-b-1">
            Stacked list can be accessed using list--stacked class
          </p>
          <ul class="list list--stacked p-v-1">
            <li class="list--item">This is stacked list item 1</li>
            <li class="list--item">This is stacked list item 2</li>
            <li class="list--item">This is stacked list item 3</li>
            <li class="list--item">This is stacked list item 4</li>
            <li class="list--item">This is stacked list item 5</li>
          </ul>
          <iframe
            src="https://carbon.now.sh/embed/uFS5h20GWrPJaGxOPe9c"
            class="embed--code m-v-1 m-b-1"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <h2 class="h2">Styled Stacked List</h2>
          <p class="m-b-1">
            Stacked list can be accessed using list--stacked and list--primary
            class
          </p>
          <ul class="list list--stacked list--primary p-v-1">
            <li class="list--item">This is stacked list item 1</li>
            <li class="list--item">This is stacked list item 2</li>
            <li class="list--item">This is stacked list item 3</li>
            <li class="list--item">This is stacked list item 4</li>
            <li class="list--item">This is stacked list item 5</li>
          </ul>
          <iframe
            src="https://carbon.now.sh/embed/uFS5h20GWrPJaGxOPe9c"
            class="embed--code m-v-1 m-b-1"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>

        <div class="pagination">
          <a href="#" class="pagination--link">&lt Input </a>
          <a href="#" class="pagination--link"> Text Utils &gt</a>
        </div>
      </section>
    </main>
  </body>
</html>
