<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Navigation</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/navigation/navigation.css" />
    <script defer src="./navigation.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">Fastart</a>
      </div>
      <nav>
        <a
          class="nav-link"
          target="_blank"
          href="https://github.com/manismk/fastart"
          >Github</a
        >
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <p class="heading--4 text--bold">Get Started</p>
          <a href="/docs.html" class="side--nav--link">Usage</a>
          <p class="heading--4 text--bold">Components</p>
          <a href="/components/alert/alert.html" class="side--nav--link"
            >Alert</a
          >
          <a href="/components/avatar/avatar.html" class="side--nav--link"
            >Avatar</a
          >
          <a href="/components/badge/badge.html" class="side--nav--link"
            >Badge</a
          >
          <a href="/components/button/button.html" class="side--nav--link"
            >Button</a
          >
          <a href="/components/card/card.html" class="side--nav--link">Card</a>
          <a href="/components/grid/grid.html" class="side--nav--link">Grid</a>
          <a href="/components/image/image.html" class="side--nav--link"
            >Image</a
          >
          <a href="/components/input/input.html" class="side--nav--link"
            >Input</a
          >
          <a href="/components/list/list.html" class="side--nav--link">List</a>
          <a href="/components/modal/modal.html" class="side--nav--link"
            >Modal</a
          >
          <a
            href="/components/navigation/navigation.html"
            class="side--nav--link active"
            >Navigation</a
          >
          <a href="/components/rating/rating.html" class="side--nav--link"
            >Rating</a
          >
          <a href="/components/slider/slider.html" class="side--nav--link"
            >Slider</a
          >
          <a href="/components/text/text.html" class="side--nav--link">Text</a>
          <a href="/components/toast/toast.html" class="side--nav--link"
            >Toast</a
          >
        </nav>
      </aside>

      <section class="main--container">
        <div class="m-v-1">
          <h1 class="heading--2">Navigation with drawer</h1>
          <p class="m-b-1">
            Navigation is used to place the important links to navigate in the
            site. Resize the browser for responsive navigation bar.
          </p>

          <div class="container--nav--example">
            <div class="nav--container">
              <div class="hamburger--icon">
                <i class="fas fa-bars"></i>
              </div>
              <div class="logo">Brand Name</div>
              <nav class="nav--items">
                <ul class="list list--space">
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                  <li>Item 4</li>
                  <li>Item 5</li>
                </ul>
              </nav>
            </div>
            <div class="main--conatiner">
              <p class="p-h-1 m-v-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus consequuntur quo, culpa pariatur, maxime nemo suscipit
                perferendis, perspiciatis accusantium architecto aspernatur?
                Explicabo natus consectetur atque optio earum exercitationem
                temporibus asperiores!
              </p>
              <p class="p-h-1 m-v-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus consequuntur quo, culpa pariatur, maxime nemo suscipit
                perferendis, perspiciatis accusantium architecto aspernatur?
                Explicabo natus consectetur atque optio earum exercitationem
                temporibus asperiores!
              </p>
              <p class="p-h-1 m-v-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus consequuntur quo, culpa pariatur, maxime nemo suscipit
                perferendis, perspiciatis accusantium architecto aspernatur?
                Explicabo natus consectetur atque optio earum exercitationem
                temporibus asperiores!
              </p>
            </div>
          </div>

          <div class="embed--container">
            <embed
              src="https://www.thiscodeworks.com/embed/61fff5d94dd44f0015f3cc6a"
              class="embed--code"
            />
          </div>
        </div>

        <div class="pagination">
          <a href="/components/modal/modal.html" class="pagination--link"
            >&lt Modal
          </a>
          <a href="/components/rating/rating.html" class="pagination--link">
            Rating &gt</a
          >
        </div>
      </section>
    </main>
  </body>
</html>
