<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Navigation</title>
    <link rel="stylesheet" href="/css/guide.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/navigation/navigation.css" />
    <script defer src="./navigation.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">Fastart</div>
      <nav>
        <a class="nav-link" href="#">Github</a>
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <a href="#" class="side--nav--link">Usage</a>
          <a href="#" class="side--nav--link">Alert</a>
          <a href="#" class="side--nav--link">Avatar</a>
          <a href="#" class="side--nav--link">Badge</a>
          <a href="#" class="side--nav--link">Button</a>
          <a href="#" class="side--nav--link">Card</a>
          <a href="#" class="side--nav--link">Image</a>
          <a href="#" class="side--nav--link">Input</a>
          <a href="#" class="side--nav--link">List</a>
          <a href="#" class="side--nav--link">Modal</a>
          <a href="#" class="side--nav--link">Slider</a>
          <a href="#" class="side--nav--link">Toast</a>
          <a href="#" class="side--nav--link active">Navigation</a>
        </nav>
      </aside>
      <section class="main--container">
        <div class="m-v-1">
          <h1 class="h1 primary-heading">Navigation</h1>
          <p class="m-b-1">
            Navigation is used to place the important links to navigate in the
            site.
          </p>

          <div class="container--nav--example">
            <div class="nav--container">
              <div class="hamburger--icon">
                <i class="fas fa-bars"></i>
              </div>
              <div class="logo">Brand Name</div>
              <nav class="nav--items">
                <ul class="list list--space">
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                  <li>Item 4</li>
                  <li>Item 5</li>
                </ul>
              </nav>
            </div>
            <div class="main--conatiner">
              <p class="p-h-1 m-v-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus consequuntur quo, culpa pariatur, maxime nemo suscipit
                perferendis, perspiciatis accusantium architecto aspernatur?
                Explicabo natus consectetur atque optio earum exercitationem
                temporibus asperiores!
              </p>
              <p class="p-h-1 m-v-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus consequuntur quo, culpa pariatur, maxime nemo suscipit
                perferendis, perspiciatis accusantium architecto aspernatur?
                Explicabo natus consectetur atque optio earum exercitationem
                temporibus asperiores!
              </p>
              <p class="p-h-1 m-v-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus consequuntur quo, culpa pariatur, maxime nemo suscipit
                perferendis, perspiciatis accusantium architecto aspernatur?
                Explicabo natus consectetur atque optio earum exercitationem
                temporibus asperiores!
              </p>
            </div>
          </div>

          <embed
            src="https://carbon.now.sh/embed/ASHSUPyLrdJnmcXEZIKY"
            class="embed--code m-v-1 m-b-2"
            sandbox="allow-scripts allow-same-origin"
          />
        </div>

        <div class="pagination">
          <a href="#" class="pagination--link">&lt Slider </a>
          <a href="#" class="pagination--link"> Navigation &gt</a>
        </div>
      </section>
    </main>
  </body>
</html>
