<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Rating</title>
    <link rel="icon" href="/assets/favicon.png" />
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/manifest.webmanifest" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/rating/rating.css" />
    <script defer src="./navigation.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">Fastart</a>
      </div>
      <nav>
        <a
          class="nav-link"
          target="_blank"
          href="https://github.com/manismk/fastart"
          >Github</a
        >
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <p class="heading--4 text--bold">Get Started</p>
          <a href="/docs.html" class="side--nav--link">Usage</a>
          <p class="heading--4 text--bold">Components</p>
          <a href="/components/alert/alert.html" class="side--nav--link"
            >Alert</a
          >
          <a href="/components/avatar/avatar.html" class="side--nav--link"
            >Avatar</a
          >
          <a href="/components/badge/badge.html" class="side--nav--link"
            >Badge</a
          >
          <a href="/components/button/button.html" class="side--nav--link"
            >Button</a
          >
          <a href="/components/card/card.html" class="side--nav--link">Card</a>
          <a href="/components/grid/grid.html" class="side--nav--link">Grid</a>
          <a href="/components/image/image.html" class="side--nav--link"
            >Image</a
          >
          <a href="/components/input/input.html" class="side--nav--link"
            >Input</a
          >
          <a href="/components/list/list.html" class="side--nav--link">List</a>
          <a href="/components/modal/modal.html" class="side--nav--link"
            >Modal</a
          >
          <a
            href="/components/navigation/navigation.html"
            class="side--nav--link"
            >Navigation</a
          >
          <a
            href="/components/rating/rating.html"
            class="side--nav--link active"
            >Rating</a
          >
          <a href="/components/slider/slider.html" class="side--nav--link"
            >Slider</a
          >
          <a href="/components/text/text.html" class="side--nav--link">Text</a>
          <a href="/components/toast/toast.html" class="side--nav--link"
            >Toast</a
          >
        </nav>
      </aside>

      <section class="main--container">
        <div class="m-v-1">
          <h1 class="heading--2">Rating</h1>
          <p class="m-b-1">
            Rating can be used to get feedback from the customer. You can check
            the star by adding the class star--checked.
          </p>
          <div class="rating--container m-v-1">
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
          </div>
          <div class="rating--container m-v-2">
            <i class="fas fa-star star star--checked"></i>
            <i class="fas fa-star star star--checked"></i>
            <i class="fas fa-star star star--checked"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
          </div>

          <div class="embed--container">
            <embed
              src="https://www.thiscodeworks.com/embed/61fff7544dd44f0015f3cc6b"
              class="embed--code"
            />
          </div>
        </div>

        <div class="pagination">
          <a
            href="/components/navigation/navigation.html"
            class="pagination--link"
            >&lt Navigation
          </a>
          <a href="/components/slider/slider.html" class="pagination--link">
            Slider &gt</a
          >
        </div>
      </section>
    </main>
  </body>
</html>
