<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Rating</title>
    <link rel="stylesheet" href="/css/guide.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/rating/rating.css" />
    <script defer src="./navigation.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">Fastart</div>
      <nav>
        <a class="nav-link" href="#">Github</a>
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <a href="#" class="side--nav--link">Usage</a>
          <a href="#" class="side--nav--link">Alert</a>
          <a href="#" class="side--nav--link">Avatar</a>
          <a href="#" class="side--nav--link">Badge</a>
          <a href="#" class="side--nav--link">Button</a>
          <a href="#" class="side--nav--link">Card</a>
          <a href="#" class="side--nav--link">Image</a>
          <a href="#" class="side--nav--link">Input</a>
          <a href="#" class="side--nav--link">List</a>
          <a href="#" class="side--nav--link">Modal</a>
          <a href="#" class="side--nav--link">Slider</a>
          <a href="#" class="side--nav--link">Toast</a>
          <a href="#" class="side--nav--link">Navigation</a>
          <a href="#" class="side--nav--link active">Rating</a>
        </nav>
      </aside>
      <section class="main--container">
        <div class="m-v-1">
          <h1 class="h1 primary-heading">Rating</h1>
          <p class="m-b-1">
            Rating can be used to get feedback from the customer. You can check
            the star by adding the class star--checked.
          </p>
          <div class="rating--container m-v-1">
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
          </div>
          <div class="rating--container m-v-2">
            <i class="fas fa-star star star--checked"></i>
            <i class="fas fa-star star star--checked"></i>
            <i class="fas fa-star star star--checked"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
          </div>

          <embed
            src="https://carbon.now.sh/embed/Vga7o2FUswkjJYp5mVUN"
            class="embed--code m-v-1 m-b-2"
            sandbox="allow-scripts allow-same-origin"
          />
        </div>

        <div class="pagination">
          <a href="#" class="pagination--link">&lt Slider </a>
          <a href="#" class="pagination--link"> Navigation &gt</a>
        </div>
      </section>
    </main>
  </body>
</html>
