@import url(/css/guide.css);
@import url(/components/button/button.css);
@import url(/components//text/text.css);

.modal {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  z-index: 20;
}
.modal--alert {
  min-width: 40%;
}
.modal--text {
  font-size: 1rem;
  padding: 1rem 0;
}

.modal--actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.hide {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 15;
}

@media only screen and (max-width: 600px) {
  .modal--alert {
    min-width: 70%;
  }
}
