<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | List</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/list/list.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">Fastart</a>
      </div>
      <nav>
        <a class="nav-link" href="https://github.com/manismk/fastart">Github</a>
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <p class="heading--4 text--bold">Get Started</p>
          <a href="/docs.html" class="side--nav--link">Usage</a>
          <p class="heading--4 text--bold">Components</p>
          <a href="/components/alert/alert.html" class="side--nav--link"
            >Alert</a
          >
          <a href="/components/avatar/avatar.html" class="side--nav--link"
            >Avatar</a
          >
          <a href="/components/badge/badge.html" class="side--nav--link"
            >Badge</a
          >
          <a href="/components/button/button.html" class="side--nav--link"
            >Button</a
          >
          <a href="/components/card/card.html" class="side--nav--link">Card</a>
          <a href="/components/grid/grid.html" class="side--nav--link">Grid</a>
          <a href="/components/image/image.html" class="side--nav--link"
            >Image</a
          >
          <a href="/components/input/input.html" class="side--nav--link"
            >Input</a
          >
          <a href="/components/list/list.html" class="side--nav--link">List</a>
          <a href="/components/modal/modal.html" class="side--nav--link"
            >Modal</a
          >
          <a
            href="/components/navigation/navigation.html"
            class="side--nav--link"
            >Navigation</a
          >
          <a href="/components/rating/rating.html" class="side--nav--link"
            >Rating</a
          >
          <a href="/components/slider/slider.html" class="side--nav--link"
            >Slider</a
          >
          <a href="/components/text/text.html" class="side--nav--link active"
            >Text</a
          >
          <a href="/components/toast/toast.html" class="side--nav--link"
            >Toast</a
          >
        </nav>
      </aside>

      <section class="main--container">
        <div class="m-v-1">
          <h1 class="heading--2">Text Utils</h1>
          <p class="m-b-1">These are reuseable text utils clsses.</p>
          <h2 class="heading--3">Headings</h2>
          <p>
            Headings can be accessed using heading--1, heading--2,heading--3,
            heading--4, heading--5, heading--6.
          </p>
          <ul class="list list--stacked">
            <li class="list--item"><h1 class="heading--1">Heading 1</h1></li>
            <li class="list--item"><h2 class="heading--2">Heading 2</h2></li>
            <li class="list--item"><h3 class="heading--3">Heading 3</h3></li>
            <li class="list--item"><h4 class="heading--4">Heading 4</h4></li>
            <li class="list--item"><h5 class="heading--5">Heading 5</h5></li>
            <li class="list--item"><h6 class="heading--6">Heading 6</h6></li>
          </ul>

          <div class="embed--container">
            <embed
              src="https://www.thiscodeworks.com/embed/61fff9c04dd44f0015f3cc73"
              class="embed--code"
            />
          </div>

          <h2 class="heading--3">Paragraph</h2>
          <p>
            Large paragraph, normal paragraph and small paragraph cab be
            accessed by using para--lg, para--md, para--sm classes respectively.
            Text can be centered using text--center class, text can be bold
            using text--bold class and grey text can be applied using text--grey
            class.
          </p>
          <ul class="list list--stacked p-v-1">
            <li class="list--item">
              <p class="para--lg">
                This is large paragraph. <br />
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
                nam porro, ipsam eos ut nostrum odio accusamus nulla veritatis
                quaerat, eligendi iusto molestias similique quibusdam. Error
                praesentium debitis veniam voluptatum?
              </p>
            </li>
            <li class="list--item">
              <p class="para--md text--center text--grey">
                This is normal paragraph with grey color and text center. <br />
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
                nam porro, ipsam eos ut nostrum odio accusamus nulla veritatis
                quaerat, eligendi iusto molestias similique quibusdam. Error
                praesentium debitis veniam voluptatum?
              </p>
            </li>
            <li class="list--item">
              <p class="para--sm text--bold">
                This is small paragraph with text bold. <br />
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
                nam porro, ipsam eos ut nostrum odio accusamus nulla veritatis
                quaerat, eligendi iusto molestias similique quibusdam. Error
                praesentium debitis veniam voluptatum?
              </p>
            </li>
          </ul>

          <div class="embed--container">
            <embed
              src="https://www.thiscodeworks.com/embed/61fffa2a4dd44f0015f3cc75"
              class="embed--code"
            />
          </div>
        </div>

        <div class="pagination">
          <a href="/components/slider/slider.html" class="pagination--link"
            >&lt Slider
          </a>
          <a href="/components/toast/toast.html" class="pagination--link">
            Toast &gt</a
          >
        </div>
      </section>
    </main>
  </body>
</html>
