<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fastart | Alert</title>
    <link rel="stylesheet" href="/css/guide.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/components/alert/alert.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">Fastart</div>
      <nav>
        <a class="nav-link" href="#">Github</a>
      </nav>
    </header>
    <main>
      <aside class="sidenavbar">
        <nav>
          <a href="#" class="side--nav--link">Usage</a>
          <a href="#" class="side--nav--link active">Alert</a>
          <a href="#" class="side--nav--link">Avatar</a>
          <a href="#" class="side--nav--link">Badge</a>
          <a href="#" class="side--nav--link">Button</a>
          <a href="#" class="side--nav--link">Card</a>
          <a href="#" class="side--nav--link">Image</a>
          <a href="#" class="side--nav--link">Input</a>
          <a href="#" class="side--nav--link">List</a>
          <a href="#" class="side--nav--link">Toast</a>
          <a href="#" class="side--nav--link">Navigation</a>
        </nav>
      </aside>
      <section class="main--container">
        <div class="m-v-1">
          <h1 class="h1 primary-heading">Alert</h1>
          <p>
            Alert is the component where you can provide success, error,
            information message to the users. we provide four different types of
            alert. You can use them by using alert--success, alert--error,
            alert--information, alert--message
          </p>

          <div class="alert alert--success m-v-1">
            This is success alert
            <button class="alert--close">&times</button>
          </div>
          <div class="alert alert--error m-v-1">
            This is error alert
            <button class="alert--close">&times</button>
          </div>
          <div class="alert alert--message m-v-1">
            This is message alert<button class="alert--close">&times</button>
          </div>
          <div class="alert alert--information m-v-1">
            This is information alert
            <button class="alert--close">&times</button>
          </div>
        </div>

        <iframe
          src="https://carbon.now.sh/embed/npz9VAWuLvzlffxKvXb5"
          class="embed--code m-v-1"
          sandbox="allow-scripts allow-same-origin"
        >
        </iframe>

        <div class="pagination">
          <a href="#" class="pagination--link">&lt Usage </a>
          <a href="#" class="pagination--link"> Avatar &gt</a>
        </div>
      </section>
    </main>
  </body>
</html>
